.NavBar ul li a:hover {
    color: red;
    border-radius: 10px;
    font-weight: bold;
    transition: all .3s;
}

.cartNotification a span {
    background-color: red;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
    padding: 0px 5px 0px 5px;
}