.cartNotification a span {
    background-color: rgba(0, 225, 255, 0.623);
    font-weight: bold;
    position: relative;
    padding: 0px 5px 0px 5px;
}

.cartNotification a span:hover {
    color: white !important;
}
