.container {
    margin-bottom: 4em;
}

.Item {
    margin-top: 1em;
    margin-bottom: 1em;
    height: 200px;
    padding: 0em 1em 0em 1em;
    box-shadow: 5px 2px 0px 0px rgb(238, 172, 6);
}

.Item .price {
    border-bottom: 4px solid darkred;
    font-weight: bold;
    color: darkred;
}

.Item img {
    width: 200px;
    object-fit: contain;
    aspect-ratio: 16/9;
}

.Item button {
    font-weight: bold;
    white-space: nowrap;
}

.Item > div {
    margin-left: auto;
}

.FavoriteIcon {
    background: red;
    color: white;
    border-radius: 100%;
    padding: 5px;
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    transition: background .3s, color .3s;
}

.FavoriteIcon:hover {
    cursor: pointer;
    background: white;
    color: red;
}