.NavBar {
    background: #343434
}

.NavBar ul li a {
    color: white;
    text-decoration: none;
    transition: all .3s;
}



.NavBar ul li a img {
    width: 20px;
}

.cartNotification a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    position: relative;
}

.ItemCategories {
    background-color: #343434;
    font-size: 1.2em;
}