header {
    background: rgb(0, 119, 255);
}

.NavBar {
    font-weight: bold;
    text-transform: uppercase;
}

.NavBar ul li a:hover {
    color: rgba(0, 225, 255, 0.623);
    border-radius: 10px;
    font-weight: bold;
    transition: all .3s;
}

.NavBar ul li a {
    color: white;
    text-decoration: none;
    transition: all .3s;
}

.NavBar ul li a img {
    width: 20px;
}

.cartNotification a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    position: relative;
}

.ItemCategories {
    font-size: 1.2em;
}

.ItemCategories ul {
    border-bottom: 5px solid rgb(0, 119, 255);
    font-weight: bold;
    margin: 0;
    margin-left: 50%;
    transform: translateX(-50%);
}

.ItemCategories ul li {
    white-space: nowrap;
}

.brand a {
    text-decoration: none;
}