body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("imgs/bg.png");
}

header {
    background: #141414;
}

.brand a {
    text-decoration: none;
}

.containerItems {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
}

.container {
    margin-bottom: 4em;
}