body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("imgs/bg.png");
}

.brand a {
    text-decoration: none;
}

.menuCommerce nav ul {
    list-style-type: none;
}

.menuCommerce nav ul li a {
    color: white;
    text-decoration: none;
    transition: all .3s;
}

.menuCommerce nav ul li a:hover {
    background: darkgreen;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
    transition: all .3s;
}

/* .menuCommerce nav ul li a:has(img) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    padding: 2px !important;
} */

.menuCommerce nav ul li a img {
    width: 20px;
    color: white;
}

footer {
    background: #141414;
    color: white;
    padding: 5px;
}

.containerItems {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
}


.container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cartNotification a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    position: relative;
}

.cartNotification a span {
    background-color: red;
    border-radius: 10px;
    position: absolute;
    bottom: -10px;
    right: -10px;
}

.itemCategories {
    background: #0d492d;
    width: 50%;
    margin: 0 auto;
    color: white;
    border-radius: 0px 0px 10px 10px;
}

.itemCategories ul {
    margin: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.itemCategories ul li:nth-child(1) {
    margin-left: 20px;
}
.itemCategories ul li {
    margin-right: 20px;
}

.itemCategories ul a {
    color: white;
    text-decoration: none;
}
.itemCategories ul a:hover {
    color: red;
    font-weight: bold;
}


.productDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.productDetails {
    text-align: start;
}

.productDetails figure img {
    height: 200px;
}

.productDetails table {
    width: 100%;
    border: 1px solid black;
    table-layout: fixed;
    border-collapse: separate;
}

.productDetails table th, 
.productDetails table td {
    padding: 10px;
    border: 1px solid black;
}