.DetailCartItem {
    margin-bottom: 1em;
}

.DetailCartItem p {
    margin: 0;
    padding: 1em;
    background: #e0c7c7;
}

.DetailCartItem p:first-child {
    border-radius: 10px 10px 0px 0px
}

.DetailCartItem p:last-child {
    border-radius: 0px 0px 10px 10px
}

.totalPrice {
    background: #141414;
    border-radius: 1em;
    font-weight: bold;
}

.purchaseControl {
    background-color: #141414;
    padding: 1em;
    color: white;
}

.purchaseControl > * {
    margin: 0;
    padding: 0;
}
