.DetailCartItem {
    margin-bottom: 1em;
}

.DetailCartItem p {
    margin: 0;
    padding: 0.8em;
    background: #e0c7c7;
}

/* .DetailCartItem p:first-child {
    border-radius: 10px 10px 0px 0px
} */

.DetailCartItem p:last-child {
    border-radius: 0px 0px 10px 10px
}

.totalPrice {
    border-radius: 1em;
    font-weight: bold;
}

.purchaseControl {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 1em;
    color: white;
}

.purchaseControl > * {
    margin: 0;
    padding: 0;
}

.Null {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Null > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.Null i {
    transform: scale(1.5)
}

.TitleDetailCartItem i {
    cursor: pointer;
}

@media (min-width: 615px) {
    .TitleDetalCartItem i {
        position: absolute;
        right: -2.5em;
        color: black;
        transform: scale(1.2);
        transition: background-color .2s, color .2s;
        border-radius: 100%;
        cursor: pointer;
        padding: 0.4em;
    }
    .TitleDetalCartItem i:hover {
        background-color: #DC3545;
        color: white;
    }
}


